<<!DOCTYPE html>
<html lang="el">
<head>
      <meta charset= "UTF-8">
      <title>Mi Curriculum Vitae</title>
      <link rel="stylesheet" href="style.css"
</head>
<body >
  <div class="contenedor">
      <div class="principal">
         <div class="header">
           <div>
             <img src="C:\Users\USER\Desktop\miaw\Curriculum1\public\images\siry.jpg"          
           </div>
          <div class="nombre" >
                <h1>Siry Daniela del Carmen Pacheco Salas</h1>
                <p><b>Direccion:</b>Maracay-turmero</p>
                <br>
                <b>Celular:</b>0414-220-4369  - <b>Correo:</b> sirypacheco15@gmail.com
                </p>
           </div> 
         </div>
      </div>

      <div class="cuerpo">
          <div class="contenido">
          <h2 class="titulo">Educacion</h2>
      <p><b>"Universidad Nacional Experimental Romulo Gallegos(UNERG)"</b><br/>
         Estudiante en Ingenieria en Informatica (4to semestre)
         <br\>
         <br\>
         <b>" U.E.P.A.P."La Candelaria" "</b>
         <br\>
         Titulo Obtenido: Tecnico Medio en Informatica
        </p>
   </div>

   <div class="contenido">
        <h2 class="titulo">Experiencia Laboral</h2>
        *<b>Calzado Venezuela</b>,
         Ocupacion: Vendedora----------------------------- (Mayo 2015 - Octubre 2015)<br/><br/>
        *<b>Super Mercado Las Americas</b>
        Ocupacion: Cajera---------------------------------(Abril 2018 - Noviembre 2018)<br/><br/>
   </div>

   <div class="contenido">
    <h2 class="titulo">Referencia Personal</h2>
    Ing. Maria Jose Perez
    Telefono: 0424-377-1812
    <br><br/>

    Lic. Samira Irleth Amaya
    Telefono: 0424-545-3545

  </div>
 </div>
</body>
</html>  
    